{{- $footer       := .Site.GetPage "/hero" }}
{{- $logo         := $footer.Params.logo }}
{{- $productLinks := $footer.Params.product }}
{{- $docLinks     := $footer.Params.docs }}
{{- $blogrollLinks:= $footer.Params.blogroll }}
{{- $socialMedia  := $footer.Params.socialmedia }}
{{- $bulmaLogo    := $footer.Params.bulmalogo }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          Aurélie
          <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>MENU</h3>
          </div>
          <ul class="link-list">
            {{- range $productLinks }}
            <li>
              <a href="{{ .link }}">
                {{ .text }}
              </a>
            </li>
            {{- end }}
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</footer>
