{{- $hero       := .Site.GetPage "/hero" }}
{{- $title      := $hero.Params.title }}
{{- $subtitle   := $hero.Params.subtitle }}
{{- $buttonText := $hero.Params.buttontext }}
{{- $buttonLink := $hero.Params.buttonlink }}
{{- $image      := $hero.Params.hero_image }}
<div id="accueil" class="hero-body" style="background-image: url('{{ printf "%s" $image | relURL }}');">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        <a class="button cta rounded white-btn raised" href="tel:{{ $buttonLink }}">
          {{ with $subtitle }}
          {{ . }}
          {{ end }}
          <br/>
          {{ $buttonText }}
        </a>
      </div>
    </div>
  </div>
</div>