{{- $navbar       := .Site.GetPage "/hero" }}
{{- $navbarPhone  := $navbar.Params.phone_number }}
<nav id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#accueil">
        Cabinet Psychologue Feyzin
      </a>
    </div>

    <div id="cloned-navbar-menu" class="navbar-menu is-fixed">

      <div class="navbar-start">
        <a class="navbar-item is-secondary" href="/reli/#accueil">Accueil</a>
        <a class="navbar-item is-secondary" href="#">Me connaître</a>
        <a class="navbar-item is-secondary" href="#">Consultations</a>
        <a class="navbar-item is-secondary" href="/reli/#contact">Contact</a>
      </div>

      <div class="navbar-end">
        <a class="phone-link" href="tel:{{ $navbarPhone }}"><img class="phone-icon" src='{{ "images/illustrations/icon__phone--muted-grey.svg" | relURL }}' alt="Téléphone"/> {{ $navbarPhone }}</a>
      </div>
    </div>
</div>
</nav>