{{- $navbar       := .Site.GetPage "/hero" }}
{{- $navbarPhone  := $navbar.Params.phone_number }}
<nav id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#accueil">
        Cabinet Psychologue Feyzin
      </a>
    </div>

    <div id="cloned-navbar-menu" class="navbar-menu is-fixed">

      <div class="navbar-start">
        <a class="navbar-item is-secondary" href="/#accueil">Accueil</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item is-secondary" href="#">
            Nous connaître
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item is-secondary" href="/me-connaitre/aurelie-gaudiller">
              Aurélie Gaudiller
            </a>
            <a class="navbar-item is-secondary" href="/me-connaitre/estelle-orard">
              Estelle Orard
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item is-secondary" href="#">
            Consultations
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item is-secondary" href="/consultations/adulte">
              Adultes
            </a>
            <a class="navbar-item is-secondary" href="/consultations/enfant-adolescent">
              Enfants / Adolescents
            </a>
          </div>
        </div>
        <a class="navbar-item is-secondary" href="/#contact">Contact</a>
      </div>

      <div class="navbar-end">
        <a class="phone-link" href="tel:{{ $navbarPhone }}"><img class="phone-icon" src='{{ "images/illustrations/icon__phone--muted-grey.svg" | relURL }}' alt="Téléphone"/> {{ $navbarPhone }}</a>
      </div>
    </div>
</div>
</nav>