{{- $section2 := .Site.GetPage "/hero"  }}
{{- $title := $section2.Params.section2_title }}
{{- $subtitle := $section2.Params.section2_subtitle }}
{{- $subtitle1 := $section2.Params.section2_subtitle1 }}
{{- $subtitle2 := $section2.Params.section2_subtitle2 }}
{{- $text := $section2.Params.section2_text }}
{{- $text1 := $section2.Params.section2_text1 }}
{{- $text2 := $section2.Params.section2_text2 }}
<section class="section is-medium">
  <div class="container">
    <div class="title-wrapper">
      <h1 class="title section-title is-2 is-spaced">{{ $title }}</h1>
      <div class="divider"></div>
    </div>
    <div class="columns">
      <div class="column is-12 mt-60">
        <p>
          {{ $text }}
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6 mt-60">
        <div class="title-wrapper mb-60">
          <h1 class="title section-title is-4 is-spaced">{{ $subtitle1 }}</h1>
          <div class="divider"></div>
        </div>
        <p>
          {{ $text1 }}
        </p>
      </div>
      <div class="column is-6 mt-60">
        <div class="title-wrapper mb-60">
          <h1 class="title section-title is-4 is-spaced">{{ $subtitle2 }}</h1>
          <div class="divider"></div>
        </div>
        <p>
          {{ $text2 }}
        </p>
      </div>
    </div>
  </div>
</section>