{{- $section4 := .Site.GetPage "/hero" }}
{{- $title := $section4.Params.section4_title }}
{{- $subtitle := $section4.Params.section4_subtitle }}
{{- $photos := $section4.Params.photos }}
<section class="section is-medium">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5">{{ . }}</h3>
      {{- end }}
      <div class="divider"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        {{- range $photos }}
        <div class="column is-3">
          <figure class="">
            <blockquote>
              <img src="{{ printf "%s" .photo | relURL }}" alt="Description">
            </blockquote>
            <div class="author">
              <!-- <img src="{{ printf "%s" .icon | relURL }}" alt="Description"> -->
              <h5>{{ .caption }}</h5>
              <span>{{ .subcaption }}</span>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>