{{- $section4 := .Site.GetPage "/hero" }}
{{- $title := $section4.Params.section4_title }}
{{- $subtitle := $section4.Params.section4_subtitle }}
{{- $photos := $section4.Params.photos }}
<section class="section is-medium section-secondary">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        {{- range $photos }}
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              <img src="{{ printf "%s" .photo | relURL }}" alt="Description">
            </blockquote>
            <div class="author">
              <img src="{{ printf "%s" .icon | relURL }}" alt="Description">
              <h5>{{ .caption }}</h5>
              <span>{{ .subcaption }}</span>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>