<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}
    {{ partial "hero.html" . }}
    {{ partial "section2.html" . }}
    {{ partial "section4.html" . }}
    <!-- {{ partial "section1.html" . }} -->
    {{ partial "section3.html" . }}
    {{ partial "footer.html" . }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ end }}

    {{ partial "javascript.html" . }}
    <script>
      var map;
      function initMap() {
        map = L.map('map').setView([45.676207, 4.862148], window.innerWidth > 1000 ? 15 : 16);
        L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', {
          attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia</a>',
          minZoom: 10,
          maxZoom: 18,
          scrollWheelZoom: false,
          touchZoom: false,
        }).addTo(map);
        var marker = L.marker([45.676207, 4.862148]).addTo(map)
      }
      initMap();
    </script>
  </body>
</html>