<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}
    {{ partial "hero.html" . }}
    {{ partial "section4.html" . }}
    <!-- {{ partial "section2.html" . }} -->
    {{ partial "section1.html" . }}
    {{ partial "section3.html" . }}
    {{ partial "footer.html" . }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ end }}

    {{ partial "javascript.html" . }}
    <script>
      var map;
      function initMap() {
        map = L.map('map').setView([45.676207, 4.862148], window.innerWidth > 1000 ? 15 : 16);
        L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', {
          attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia</a>',
          minZoom: 12,
          maxZoom: 18
        }).addTo(map);
        var marker = L.marker([45.676207, 4.862148]).addTo(map)
      }
      initMap();
    </script>
  </body>
</html>