/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
  margin-top: -4rem;
  padding: 20rem 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: $white;

  .title, .subtitle {
    font-family: 'Open Sans', sans-serif;
    color: $white;
  }
  .title {
    font-size: 1.5rem;
    &.is-bold {
      font-weight: 500;
    }
  }
  .subtitle {
    &.is-muted {
      color: $white;
    }
  }
}

.hero-foot {
  font-size: 16pt;
  text-align: center;
  padding: 6rem 12rem;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

  img.partner-logo {
    height: 70px;
  }
}

@media (max-width: 1000px) {
  .hero-body {
    padding: 10rem 2rem 2rem 2rem;

    & .title {
      background: rgba(0,0,0,0.3);
      border-radius: 4px;
      padding: 40px;
    }
  }

  .hero-foot {
    padding: 5rem 2rem;
  }
}