/* ==========================================================================
Navbar
========================================================================== */

//Navbar
.navbar.is-fresh {
  position: relative;
  min-height: 4rem;
  transition: all .3s;
  z-index: 99;
  background: transparent;
  text-align: center;

  .container {
    min-height: 4rem;
    justify-content: center;
    align-items: center;
  }
  &.no-shadow {
    box-shadow: none !important;
  }
  //Responsive menu icon
  .navbar-burger {
    width: 4rem;
    height: 4rem;
  }
  //Brand
  .navbar-brand {
    display: block;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -150px;
    width: 500px;
    max-width: 100vw;
    min-height: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;

    & a {
      display: block;
      width: 100%;
      text-align: center;
    }

    img {
      max-height: 36px !important;
      height: 36px;
    }
    //Removing navbar item default hover behaviour
    &:hover {
      .navbar-item {
        background: transparent !important;
      }
    }
  }
  .navbar-end {
    align-items: center;
    img {
      max-height: 36px !important;
      height: 36px;
    }

    .phone-link {
      position: relative;
      top: -5px;
      left: 5px;
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $white;

      &:hover {
        color: $secondary;
      }

      & img {
        position: relative;
        top: 12px;
      }
    }
  }
  //Navbar items
  .navbar-item{
    color: $white;
    font-size: 1.2rem;

    &:hover {
      background: none;
    }
    &.is-secondary {
      &:hover {
        color: $secondary !important;
      }
    }
    &.has-dropdown {
      padding: 10px 0;
      .navbar-link {
        color: $muted-grey;
        &:after {
          top: 55%;
          height: 0.5em;
          width: 0.5em;
          border-width: 2px;
          border-color: $muted-grey;
        }
      }
      .navbar-dropdown {
        top: 3.4rem;
        min-width: 220px;
        margin-top: 4px;
        border-top-color: $secondary;
        .navbar-item {
          padding: 10px 20px;
          color: $muted-grey;
        }
      }
      &:hover {
        .navbar-link {
          color: $secondary;
          &:after {
            border-color: $secondary;
          }
        }
      }
    }
    .signup {
      display: block;
      line-height: 0;
      font-size: .9rem !important;
    }
  }
  
  //Fixed navbar modifier
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 4rem !important;
    background: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    a {
      color: $white;
      &:hover {
        color: $primary;
      }
    }
  }
}

//Cloned fixed navbar
#navbar-clone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  transform: translateY(-100%);
  z-index: 1000;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  &.is-active {
    transform: translateY(0); 
  }
  color: $muted-grey !important;

  & .navbar-brand a{
    color: $muted-grey !important;
  }

  & a {
    color: $muted-grey !important;
    img {
      max-height: 36px !important;
      height: 36px;
    }
  }
}

@media (max-width: 1000px) {
  .navbar.is-fresh {
    .navbar-brand {
      font-size: 1rem;
      left: 0;
      margin-left: 0;
    }
  }
}